* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background: #f8feff;
  width: 100vw;
  height: 100vh;
}

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #f8feff;
  text-align: center;
}

.loader h3 {
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#nav {
  position: fixed;
  width: 100vw;
  height: auto;
  min-height: 64px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
  z-index: 10;
}

#nav .progress {
  position: absolute;
  width: 100vw;
  height: 2px;
  top: 0;
  left: 0;
}

#nav .progress .bar {
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #00aeff;
  -webkit-filter: drop-shadow(0 0 2px #00aeff);
          filter: drop-shadow(0 0 2px #00aeff);
}

#nav .progress[status=loading] .bar {
  opacity: 1;
  width: 90vw;
  -webkit-transition: width 10s 0s cubic-bezier(0.1, 0.88, 0.25, 1), opacity 0.4s;
  transition: width 10s 0s cubic-bezier(0.1, 0.88, 0.25, 1), opacity 0.4s;
}

#nav .progress[status=complete] .bar {
  width: 100vw;
  opacity: 0;
  -webkit-transition: width .2s, opacity .4s;
  transition: width .2s, opacity .4s;
}

#nav a.h1 {
  font-size: 24px;
  margin: 20px;
  line-height: 1;
  font-weight: bold;
  float: left;
  color: black;
  text-decoration: none;
}

#nav .links {
  height: auto;
  min-height: 48px;
  margin: 8px 24px 0 24px;
  float: right;
}

#nav .links .link {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  height: 16px;
  line-height: 1;
  padding: 16px 12px 24px 12px;
  opacity: 0.8;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#nav .links .link.user {
  font-weight: bold;
  margin-top: -7px;
}

#nav .links .link.user i {
  vertical-align: middle;
  height: 26px;
}

#nav .links .link.user:hover ~ .usermenu {
  display: block;
}

#nav .links .link:hover {
  opacity: 1;
}

#nav .links .link:hover:not(.user) {
  text-decoration: underline;
}

#nav .links .usermenu {
  position: absolute;
  top: calc(100% - 10px);
  right: 24px;
  border-radius: 4px;
  background-color: white;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
  padding: 8px 0;
  display: none;
  z-index: 11;
}

#nav .links .usermenu .link {
  display: block;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#nav .links .usermenu .link:hover {
  text-decoration: underline;
}

#nav .links .usermenu:hover {
  display: block;
}

section {
  z-index: 1;
  margin-top: 64px;
  width: calc(100vw - 64px);
  padding: 32px;
}

section[hidden] {
  display: none;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
  border: none;
}

table th {
  font-weight: bold;
  text-align: left;
  padding: 16px;
}

table tr:not([first]) {
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .1s;
  transition: -webkit-box-shadow .1s;
  transition: box-shadow .1s;
  transition: box-shadow .1s, -webkit-box-shadow .1s;
  border-radius: 8px;
}

table tr:not([first]):hover {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

table td {
  border: none;
  font-weight: normal;
  text-align: left;
  opacity: 0.9;
  padding: 12px;
}

.userspread {
  width: calc(100vw - 160px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
}

.userspread span.return {
  cursor: pointer;
}

.userspread span.return i {
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-size: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.userspread span.return:hover {
  text-decoration: underline;
}

.userspread span.return:hover i {
  -webkit-transform: translateX(-4px) translateY(-2px);
          transform: translateX(-4px) translateY(-2px);
}

.userspread h5 {
  margin: 0;
  opacity: 0.8;
  margin-top: 24px;
}

.userspread input {
  font-size: 26px;
  padding: 12px;
  margin: 24px 0 8px 0;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 8px;
  border: none;
  background-color: whitesmoke;
  border: 2px solid white;
}

.userspread input:focus {
  outline: none;
  border-color: rgba(117, 117, 140, 0.4);
}

.userspread input[error] {
  border-color: rgba(146, 0, 0, 0.4);
}

.userspread input[disabled] {
  opacity: 0.6;
}

.userspread i.status {
  margin-left: -30px;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.userspread i.status[enabled] {
  margin-left: 8px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.userspread i.status[loading] {
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.userspread h4 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 28px;
}

.userspread .perm {
  margin-bottom: 12px;
}

.userspread .perm .toggle {
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.08);
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  -webkit-transition: background-color .2s, opacity .2s;
  transition: background-color .2s, opacity .2s;
  cursor: pointer;
}

.userspread .perm .toggle:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.userspread .perm .toggle::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
  border-radius: 9px;
  background-color: white;
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.userspread .perm .toggle[checked] {
  background-color: #5093ad;
}

.userspread .perm .toggle[checked]::after {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.userspread .perm .toggle[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.userspread button {
  padding: 8px 12px;
  background: #5093ad;
  border-radius: 4px;
  margin-top: 18px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.resource {
  width: 240px;
  padding: 20px;
  height: auto;
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  -webkit-transition: -webkit-transform .2s, -webkit-filter .2s;
  transition: -webkit-transform .2s, -webkit-filter .2s;
  transition: transform .2s, filter .2s;
  transition: transform .2s, filter .2s, -webkit-transform .2s, -webkit-filter .2s;
  cursor: pointer;
}

.resource:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.resource img {
  position: relative;
  width: 280px;
  top: -20px;
  left: -20px;
  border-radius: 8px 8px 0 0;
}

.resource h5 {
  margin: 0;
  opacity: 0.8;
}

.resource h1 {
  font-weight: bold;
  margin: 12px 0 4px 0;
}

.resource p.inf {
  margin-top: 0;
  font-size: 14px;
  opacity: 0.6;
}

.resource p.desc {
  margin-top: 24px;
}

.resource .tags div {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 8px 3px 8px;
  border-radius: 24px;
  color: white;
  background-color: #5093ad;
  font-size: 13px;
  font-weight: bold;
  margin-right: 4px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

.add {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  margin-left: 18px;
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}

.add:hover {
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.resourcespread {
  width: calc(100vw - 160px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
}

.resourcespread span.return {
  cursor: pointer;
}

.resourcespread span.return i {
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-size: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.resourcespread span.return:hover {
  text-decoration: underline;
}

.resourcespread span.return:hover i {
  -webkit-transform: translateX(-4px) translateY(-2px);
          transform: translateX(-4px) translateY(-2px);
}

.resourcespread img {
  width: 280px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

.resourcespread h5 {
  margin: 0;
  opacity: 0.8;
  margin-top: 24px;
}

.resourcespread input {
  font-size: 26px;
  padding: 12px;
  margin: 24px 0 8px 0;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 8px;
  border: none;
  background-color: whitesmoke;
  border: 2px solid white;
}

.resourcespread input:focus {
  outline: none;
}

.resourcespread input:focus:not([readonly]) {
  border-color: rgba(117, 117, 140, 0.4);
}

.resourcespread input[error] {
  border-color: rgba(146, 0, 0, 0.4);
}

.resourcespread input[disabled] {
  opacity: 0.6;
}

.resourcespread i.status {
  margin-left: -30px;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.resourcespread i.status[enabled] {
  margin-left: 8px;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.resourcespread i.status[loading] {
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.resourcespread h4 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 28px;
}

.resourcespread h4.ref {
  margin-bottom: 8px;
}

.resourcespread button {
  padding: 8px 12px;
  background: #5093ad;
  border-radius: 4px;
  margin-top: 18px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.resourcespread .tags div {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 8px 3px 8px;
  border-radius: 24px;
  color: white;
  background-color: #5093ad;
  font-size: 13px;
  font-weight: bold;
  margin-right: 4px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

.resource-instances {
  width: calc(100vw - 160px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
  margin-top: 24px;
  overflow-x: auto;
  white-space: nowrap;
}

.resource-instances h3 {
  margin: 0;
  opacity: 1;
  margin-bottom: 24px;
  font-weight: bold;
}

.resource-instances .instance {
  width: 220px;
  height: 80px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px 0 0;
  cursor: pointer;
  overflow: hidden;
  white-space: normal;
}

.resource-instances .instance:hover {
  border: 1px solid #bebebe;
}

.resource-attachments {
  width: calc(100vw - 160px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
  margin-top: 24px;
  overflow-x: auto;
  white-space: nowrap;
}

.resource-attachments h3 {
  margin: 0;
  opacity: 1;
  margin-bottom: 24px;
  font-weight: bold;
}

.resource-attachments .attachment {
  width: 280px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 12px 0;
  cursor: pointer;
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}

.resource-attachments .attachment img {
  width: 280px;
  border-radius: 8px;
}

.resource-attachments .attachment:hover {
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
}

.instancespread {
  width: calc(100vw - 160px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
}

.instancespread span.return {
  cursor: pointer;
}

.instancespread span.return i {
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-size: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.instancespread span.return:hover {
  text-decoration: underline;
}

.instancespread span.return:hover i {
  -webkit-transform: translateX(-4px) translateY(-2px);
          transform: translateX(-4px) translateY(-2px);
}

.instancespread img {
  width: 280px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

.instancespread h5 {
  margin: 0;
  opacity: 0.8;
  margin-top: 24px;
}

.instancespread h4 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 28px;
  margin-top: 18px;
}

.instancespread h4.ref {
  margin-bottom: 8px;
}

.instancespread button {
  padding: 8px 12px;
  background: #5093ad;
  border-radius: 4px;
  margin-top: 18px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#notifications {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 20;
}

#notifications .notification {
  margin-top: 12px;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
}

#notifications .notification i {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
}

#notifications .notification span {
  vertical-align: middle;
}

#dialogs .overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#dialogs .dialog {
  z-index: 21;
  width: 400px;
  height: auto;
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(50vw - 200px);
  background-color: white;
  -webkit-filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
}

#dialogs .dialog i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
}

#dialogs .dialog i:hover {
  opacity: 1;
}

#dialogs .dialog h3 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 36px;
}

#dialogs .dialog p {
  text-align: center;
  margin-bottom: 24px;
  opacity: 0.8;
}

#dialogs .dialog input[type=text], #dialogs .dialog input[type=password] {
  width: 244px;
  margin: 0 70px;
  padding: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 12px;
}

#dialogs .dialog button {
  display: block;
  padding: 8px 12px;
  background: #5093ad;
  border-radius: 4px;
  margin: 32px auto;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#dialogs .dialog .other {
  text-align: center;
}
