* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background: #f8feff;
  width: 100vw;
  height: 100vh;
}

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #f8feff;
  text-align: center;
}

.loader h3 {
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#nav {
  position: fixed;
  width: 100vw;
  height: auto;
  min-height: 64px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
}

#nav .progress {
  position: absolute;
  width: 100vw;
  height: 2px;
  top: 0;
  left: 0;
}

#nav .progress .bar {
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #00aeff;
  -webkit-filter: drop-shadow(0 2px 2px #00aeff);
          filter: drop-shadow(0 2px 2px #00aeff);
}

#nav .progress[status=loading] .bar {
  opacity: 1;
  width: 90vw;
  -webkit-transition: width 10s 0s cubic-bezier(0.1, 0.88, 0.25, 1), opacity 0.4s;
  transition: width 10s 0s cubic-bezier(0.1, 0.88, 0.25, 1), opacity 0.4s;
}

#nav .progress[status=complete] .bar {
  width: 100vw;
  opacity: 0;
  -webkit-transition: width .2s, opacity .4s;
  transition: width .2s, opacity .4s;
}

#nav a.h1 {
  font-size: 24px;
  margin: 20px;
  line-height: 1;
  font-weight: bold;
  float: left;
  color: black;
  text-decoration: none;
}

#nav .links {
  height: auto;
  min-height: 48px;
  margin: 8px 24px 0 24px;
  float: right;
}

#nav .links .link {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  height: 16px;
  line-height: 1;
  padding: 16px 12px 24px 12px;
  opacity: 0.8;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#nav .links .link.user {
  font-weight: bold;
  margin-top: -7px;
}

#nav .links .link.user i {
  vertical-align: middle;
  height: 26px;
}

#nav .links .link.user:hover ~ .usermenu {
  display: block;
}

#nav .links .link:hover {
  opacity: 1;
}

#nav .links .link:hover:not(.user) {
  text-decoration: underline;
}

#nav .links .usermenu {
  position: absolute;
  top: calc(100% - 10px);
  right: 24px;
  border-radius: 4px;
  background-color: white;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
  padding: 8px 0;
  display: none;
}

#nav .links .usermenu .link {
  display: block;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#nav .links .usermenu .link:hover {
  text-decoration: underline;
}

#nav .links .usermenu:hover {
  display: block;
}

section {
  margin-top: 64px;
  width: calc(100vw - 64px);
  padding: 32px;
}

section[hidden] {
  display: none;
}
