* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    background: rgb(248, 254, 255);
    width: 100vw;
    height: 100vh;
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(248, 254, 255);
    text-align: center;

    h3 {
        margin-top: 50vh;
        transform: translateY(-50%);
    }
}

#nav {
    position: fixed;
    width: 100vw;
    height: auto;
    min-height: 64px;
    top: 0;
    left: 0;
    background-color: white;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
    z-index: 10;

    .progress {
        position: absolute;
        width: 100vw;
        height: 2px;
        top: 0;
        left: 0;

        .bar {
            width: 0%;
            height: 2px;
            opacity: 0;
            background-color: rgb(0, 174, 255);
            filter: drop-shadow(0 0 2px #00aeff);
        }

        &[status=loading] .bar {
            opacity: 1;
            width: 90vw;
            transition: width 10s 0s cubic-bezier(0.1, 0.88, 0.25, 1), opacity .4s;
        }

        &[status=complete] .bar {
            width: 100vw;
            opacity: 0;
            transition: width .2s, opacity .4s;
        }
    }

    a.h1 {
        font-size: 24px;
        margin: 20px;
        line-height: 1;
        font-weight: bold;
        float: left;
        color: black;
        text-decoration: none;
    }

    .links {
        height: auto;
        min-height: 48px;
        margin: 8px 24px 0 24px;
        float: right;

        .link {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            height: 16px;
            line-height: 1;
            padding: 16px 12px 24px 12px;
            opacity: 0.8;
            transition: opacity .1s;
            cursor: pointer;
            text-decoration: none;
            color: black;
            user-select: none;

            &.user {
                font-weight: bold;
                margin-top: -7px;

                i {
                    vertical-align: middle;
                    height: 26px;
                }

                &:hover~.usermenu {
                    display: block;
                }
            }

            &:hover {
                opacity: 1;

                &:not(.user) {
                    text-decoration: underline;
                }
            }
        }

        .usermenu {
            position: absolute;
            top: calc(100% - 10px);
            right: 24px;
            border-radius: 4px;
            background-color: white;
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
            padding: 8px 0;
            display: none;
            z-index: 11;
    
            .link {
                display: block;
                padding: 10px 24px;
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
                color: black;
                user-select: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                display: block;
            }
        }
    }
}

section {
    z-index: 1;
    margin-top: 64px;
    width: calc(100vw - 64px);
    padding: 32px;
    
    &[hidden] {
        display: none;
    }
}

table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));

    th {
        font-weight: bold;
        text-align: left;
        padding: 16px;
    }

    td {
        font-weight: normal;
        text-align: left;
        opacity: 0.9;
        padding: 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}